#homeOurFunds {
  padding: 200px 20px;
  min-height: 800px;
  color: $white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 50px;
  }
  .button {
    color: $white;
    border-color: $white;
    transition: 250ms Cubic-bezier(0.33, 1, 0.33, 1);
    &.secondary {
      width: 320px;
      height: 72px;
      padding: 0;
      &:hover {
        border-color: $black;
        transition: 250ms Cubic-bezier(0.33, 1, 0.33, 1);
      }
    }
  }
  ::selection {
    color: $transparent;
    text-shadow: 0px 0px 7px $white;
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #homeOurFunds {
    height: 600px;
  }
}
