#researchTeam {
  ::selection {
    color: $transparent;
    text-shadow: 0px 0px 7px $black;
  }
  padding: 0px 48px;
  .header-row {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .team-member {
    padding: 24px;
    height: 100%;
    cursor: pointer;
    background-color: $white;
    transition: all 150ms linear;
    border: 1px solid black;
    border-radius: 4px;
    .img-container {
      overflow: hidden;
      margin-bottom: 12px;
      .team-img {
        webkit-filter: blur(0px);
        filter: blur(0px);
        transition: all 150ms linear;
      }
    }
    &:hover {
      background-color: $yellow;
      transition: all 150ms linear;
      .img-container {
        overflow: hidden;
        .team-img {
          webkit-filter: blur(3px);
          filter: blur(3px);
          transition: all 150ms linear;
          transform: scale(1.01);
        }
      }
    }
  }
}

.modal {
  z-index: 999999;
  top: 5vh;
  .team-member-modal {
    left: 7.5vw;
    max-width: 85vw;
    margin: 0.5%;
    top: 10%;
    .close {
      position: absolute;
      top: -15%;
      right: -5%;
      cursor: pointer;
    }
    .modal-content {
      border-radius: 4px;
      width: 100%;
      height: 100%;

      position: relative;
      border: none;
      .team-member-modal-container {
        width: 100%;
        height: 100%;
        padding: 20px;
        .info-container {
          padding: 10px 0px;
        }
      }
    }
  }
  .social-container {
    display: flex;
    flex-direction: column;
    .social {
      a {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #researchTeam {
    padding: 50px 16px;
    .header-row {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    .team-member {
      margin: 15px 0px;
    }
  }

  .modal {
    z-index: 999999;
    top: 5vh;
    .team-member-modal {
      left: 2.5vw;
      max-width: 95vw;
      margin: 0.5%;
      top: 20%;
      .close {
        top: -7%;
        right: 49%;
      }
      .modal-content {
        border-radius: 4px;
        width: 100%;
        height: 100%;

        position: relative;
        border: none;
        .team-member-modal-container {
          width: 100%;
          height: 100%;
          padding: 10px;
          .info-container {
            padding: 10px 0px;
          }
        }
      }
    }
    .social-container {
      display: flex;
      flex-direction: column;
      .social {
        a {
          margin-right: 15px;
        }
      }
    }
  }
}
