#aboutCarousel {
  ::selection {
    color: $transparent !important;
    text-shadow: 0px 0px 7px $white !important;
  }
  padding: 50px 20px;
  background-color: $black;
  color: $white;
  .title-row {
    padding: 50px 0px;
  }
  .carousel-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 88px 0px;
    .slick-slider {
      width: 100%;
      height: 90%;
      overflow: hidden;
    }
    .press-clipping {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      h1,
      h2 {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 104px;
      }
      img {
        display: flex;
        margin: 30px auto;
      }
      @media (max-width: map-get($grid-breakpoints,md)) {
        h1,
        h2 {
          font-size: 40px;
          line-height: 45px;
          margin-bottom: 50px;
        }
      }
    }
    .arrow {
      cursor: pointer;
      &:hover {
        animation-name: shake;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &.back {
          animation-direction: reverse;
        }
      }

      @media (max-width: map-get($grid-breakpoints,md)) {
        display: none;
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints,md)) {
  #aboutCarousel {
    padding: 24px 16px;
    background-color: $black;
    color: $white;
    .title-row {
      padding: 24px 0px;
    }
    .carousel-row {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 0px;
      .slick-slider {
        width: 100%;
        height: 90%;
        overflow: hidden;
      }
      .press-clipping {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        h1,
        h2 {
          font-size: 32px;
          line-height: 32px;
        }
        img {
          display: flex;
          margin: 30px auto;
        }
      }
      .arrow {
        display: none;
      }
    }
  }
}

@keyframes shake {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 25px;
  }
  50% {
    margin-left: 0px;
  }
  75% {
    margin-left: -25px;
  }
  100% {
    margin-left: 0%;
  }
}
