#emailCapture {
  padding: 150px 20px;
  background-color: $black;
  color: $white;
  ::selection {
    color: $transparent;
    text-shadow: 0px 0px 7px $white !important;
  }
  h3 {
    margin-bottom: 50px;
  }
  .email-signup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .email-header {
      margin-bottom: 10px;
    }
    .email-form {
      display: flex;
      justify-content: center;
      width: 100%;
      form {
        border-radius: 0;
        width: 100%;
        input {
          background-color: $black;
          color: $white;
          border: none;
          border-bottom: 1px solid $white;
          &.email-input {
            padding-bottom: 5px;
            width: 85%;
          }
          &.submit-button {
            padding-bottom: 5px;
            width: 15%;
            text-align: right;
            padding-right: 0;
            color: $white;
          }
          &:focus {
            outline: none;
          }
          @media (max-width: map-get($grid-breakpoints,md)) {
            &.email-input {
              padding-bottom: 5px;
              width: 75%;
            }
            &.submit-button {
              padding-bottom: 5px;
              text-align: right;
              padding-right: 0;
              width: 25%;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  #emailCapture {
    padding: 75px 16px !important;
    background-color: $black;
    color: $white;
    h3 {
      margin-bottom: 30px;
      width: 75%;
    }
  }
  .email-signup-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    .email-header {
      margin-bottom: 10px;
    }
    .email-form {
      display: flex;
      justify-content: center;
      width: 100%;
      form {
        border-radius: 0;
        width: 100%;
        input {
          background-color: $black;
          color: $white;
          border: none;
          border-bottom: 1px solid $white;
          &.email-input {
            padding-bottom: 5px;
            width: 70%;
          }
          &.submit-button {
            padding-bottom: 5px;
            width: 30%;
            color: $white;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
