footer {
  text-transform: uppercase;
  ::selection {
    color: $transparent;
    text-shadow: 0px 0px 7px $white;
  }
  .footer-container {
    padding: 56px 48px;
    height: 437px;
    width: 100%;
    background-color: $black;
    color: $white;
    .text-faded {
      color: rgba(250, 250, 250, 0.5);
    }
  }

  .footer-logo {
    width: 467px;
  }
  .announcement-bar {
    height: 40px;
    width: 100%;
    padding: 10px 48px 5px;
    background-color: $yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ::selection {
      color: $transparent;
      text-shadow: 0px 0px 7px $black;
    }
    h3 {
      font-size: 1.25rem;
      text-transform: uppercase;
    }
  }

  .email-signup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .email-header {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      .indicator {
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 50px;
        margin-bottom: 5px;
        background-color: $yellow;
      }
    }
    .email-form {
      display: flex;
      justify-content: center;
      width: 100%;
      form {
        border-radius: 0;
        width: 100%;
        input {
          background-color: $black;
          color: $white;
          border: none;
          border-bottom: 1px solid $white;
          &.email-input {
            padding-bottom: 5px;
            width: 85%;
          }
          &.submit-button {
            padding-bottom: 5px;
            text-align: right;
            padding-right: 0px;
            width: 15%;
            color: $white;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .disclaimer {
    padding: 31px 48px;
    font-size: 0.75rem !important;
    line-height: 1.25rem !important;
    background-color: $black;
    text-transform: capitalize;
    color: $white;
    p {
      margin: 15px 0px;
    }
  }
  .link-row {
    a {
      background-color: $transparent;
      color: $white;
      transition: all 250ms Cubic-bezier(0.33, 1, 0.33, 1);
      &:hover {
        background-color: $yellow;
        color: $black;
        transition: all 250ms Cubic-bezier(0.33, 1, 0.33, 1);
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints,md)) {
  footer {
    .footer-container {
      padding: 16px;
      height: 600px;
      width: 100%;
      background-color: $black;
      color: $white;
      span {
        padding: 5px 0px;
        line-height: 24px;
      }
      .text-faded {
        margin-top: -23px;
        line-height: 24px;
      }
    }
    .footer-logo {
      width: 100%;
      align-self: center;
    }
    .announcement-bar {
      height: 40px;
      width: 100%;
      padding: 10px 16px 5px;
      background-color: $yellow;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ::selection {
        color: $transparent;
        text-shadow: 0px 0px 7px $black;
      }
      h3 {
        font-size: 0.75rem;
        text-transform: uppercase;
      }
    }
    .disclaimer {
      padding: 1px 16px;
      font-size: 0.75rem !important;
      line-height: 1.25rem !important;
      background-color: $black;
      text-transform: capitalize;
      color: $white;
      p {
        margin: 15px 0px;
      }
    }
  }
  .email-signup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .email-header {
      margin-bottom: 10px;
    }
    .email-form {
      display: flex;
      justify-content: center;
      width: 100%;
      form {
        border-radius: 0;
        width: 100%;
        input {
          background-color: $black;
          color: $white;
          border: none;
          border-bottom: 1px solid $white;
          &.email-input {
            padding-bottom: 5px;
            width: 70% !important;
            border-radius: 0;
          }
          &.submit-button {
            padding-bottom: 5px;
            width: 30% !important;
            color: $white;
            border-radius: 0;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
