#headerMobile {
  z-index: 999;
  position: fixed;
  #headerMobile_nav {
    position: fixed;
    top: 20px;
    padding: 0px 10px;
    height: 50px;
    width: 95%;
    left: 2.5%;
    border-radius: 6px;
    border: 1px solid $black;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-container {
      width: 50%;
      img {
        width: 98%;
        max-width: 250px;
      }
    }
    .menu-container {
      width: 27%;
      max-width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  #headerMobile_menu {
    &.hidden {
      display: none;
    }
    h1,
    h2 {
      margin: 5px 0px;
      font-size: 38px;
      line-height: 56px;
      letter-spacing: -2px;
    }
    min-height: 550px;
    padding: 30px 15px;
    transition: height 150ms linear;
    position: fixed;
    width: 95%;
    left: 2.5%;
    top: 78px;
    border-radius: 6px;
    border: 1px solid $black;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .menu-footer {
      position: absolute;
      bottom: 16px;
    }
    .mobile-social-icons {
      width: 100%;
      display: flex;
      justify-content: center;
      a {
        margin: 0px 10px;
      }
    }
  }
}
