@font-face {
  font-family: "times now extralight";
  src: url("../../static/fonts/Times_Now_ExtraLight.woff") format("woff"),
    url("../../static/fonts/Times_Now_ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "univers light";
  src: url("../../static/fonts/UniversLTPro-45Light.woff") format("woff"),
    url("../../static/fonts/UniversLTPro-45Light.woff2") format("woff2");
}

@font-face {
  font-family: "univers extended";
  src: url("../../static/fonts/UniversLTPro-Ex.woff") format("woff"),
    url("../../static/fonts/UniversLTPro-Ex.woff2") format("woff2");
}

@font-face {
  font-family: "univers bold extended";
  src: url("../../static/fonts/UniversLTPro-BoldExt.woff") format("woff"),
    url("../../static/fonts/UniversLTPro-BoldExt.woff2") format("woff2");
}

html {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
}

p {
  padding: 0;
  margin: 0;
}

.tag {
  font-family: "univers extended" !important;
}

a,
link {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-decoration: none;
  &:hover,
  &:active {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    text-decoration: none;
  }
  &.underline {
    text-decoration: underline;
  }
}

.underline {
  text-decoration: underline;
}

.button {
  font-family: "univers extended";
  font-size: 1.1875rem;
  letter-spacing: 0rem;
  &:hover {
    font-family: "univers extended";
    font-size: 1.1875rem;
    letter-spacing: 0rem;
  }
}

body {
  font-family: "univers light";
  font-size: 1.15rem;
  line-height: 1.75rem;
  letter-spacing: 0rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
    font-size: 1.15rem;
    line-height: 1.75rem;
    letter-spacing: -1px;
  }
}

footer {
  font-family: "univers extended";
  font-size: 0.95625rem;
  line-height: 2rem;
  letter-spacing: 0rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
  }
}

h1,
h1.section {
  font-family: "times now extralight";
  font-size: 6.8rem;
  line-height: 6.125rem;
  letter-spacing: -0.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -4px;
  }
}

h1.article {
  font-family: "univers light";
  font-size: 6.8rem;
  line-height: 6.8rem;
  letter-spacing: -0.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
    font-size: 64px;
    line-height: 67px;
    letter-spacing: -4px;
  }
}

h2 {
  font-family: "times now extralight";
  font-weight: 300;
  font-size: 3.984375rem;
  line-height: 4.025rem;
  letter-spacing: -0.2rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1px;
  }
}

h3,
.cta {
  font-family: "univers extended";
  font-weight: 400;
  font-size: 1.275rem;
  line-height: 2.125rem;
  letter-spacing: -0.05rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  &.post-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  @media (max-width: map-get($grid-breakpoints,md)) {
    font-size: 1.125rem;
    line-height: 1.8rem;
    letter-spacing: -1px;
  }
}

h4 {
  font-family: "univers light";
  font-size: 1.4875rem;
  line-height: 1.80625rem;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
  }
}

header,
.nav {
  font-family: "univers light";
  font-size: 1.115625rem;
  letter-spacing: 0rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
  }
}

.eyebrow {
  font-family: "univers bold extended";
  font-size: 0.6375rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
  }
}

.body-small {
  font-family: "univers light";
  font-size: 0.85rem;
  line-height: 1.0625rem;
  letter-spacing: 0rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: map-get($grid-breakpoints,md)) {
  }
}
